@charset "UTF-8";

/* em HTML é id = é # em css obs:so pode ter um id no texto todo
    em html é class = é . em css pode ter varias class
*/


body{
    background-color: rgb(212, 255, 241);
    font-family: Arial, Helvetica, sans-serif;
}

h1#principal{
    color: black;
}

h1{
    color: brown;
}

h2{
    color: rgb(255, 0, 0);
}